{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Lorem Ipsum - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>
        <a href="google/">
            <img id="google"
                 src="https://img.shields.io/badge/Google-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=google"
                 alt="Google"> <br>
        </a>
        <a href="twitter/">
            <img id="twitter"
                 src="https://img.shields.io/badge/Twitter-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=twitter"
                 alt="Twitter"> <br>
        </a>
        <a href="facebook/">
            <img id="facebook"
                 src="https://img.shields.io/badge/Facebook-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=facebook"
                 alt="Facebook"> <br>
        </a>

    </p>

    <p>
        New user?
        <a href="{{ url_for('auth.register') }}">
            Click here to register
        </a>
    </p>

</div>
{% endblock %}
